# **Importar datos y Análisis Inicial**

Inspeccionar la estructura, tipos de datos y estadísticas descriptivas del dataset.

# 1.- **Importar librerias**

In [1]:
# Importar librerías estándar
import sys
import os

# 2. Configurar la ruta para que Python encuentre el código en 'src'
# Esto añade la carpeta raíz del proyecto al sys.path
ruta_raiz_proyecto = os.path.abspath(os.path.join(os.getcwd(), '../../'))
sys.path.append(ruta_raiz_proyecto)

# 3. Importar las funciones directamente. 
# Si la raíz está en sys.path, Python busca 'cargar_analisis.py' en la carpeta 'src'.
from src.cargar_analisis import cargar_dataframe, crear_listas_variables, resumen_eda

print("Funciones importadas exitosamente desde src/cargar_analisis.py")

Funciones importadas exitosamente desde src/cargar_analisis.py

# **2.- Importar datos**

In [2]:
# Ruta de la base de datos
path_data = '../../data/obesity_estimation_modified.csv'

# Ejecutar función para cargar datos
df = cargar_dataframe(path_data)

Archivo CSV cargado exitosamente desde: ../../data/obesity_estimation_modified.csv

# **3.- Análisis Inicial**

In [3]:
# Ejecutar la función para generar listas con las variables numericas, categoricas y objetivo
variables_numericas, variables_categoricas, variable_objetivo = crear_listas_variables()

# Ejecutar la función para generar un resumen de dataset
resumen_eda(df, variables_numericas, variables_categoricas, variable_objetivo)

---

## **Análisis Exploratorio del Dataset**

---

### 1. Dimensiones del Dataset

Número de Filas:    2,153
Número de Columnas: 18

### 2. Tipos de Datos y Uso de Memoria

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2153 entries, 0 to 2152
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2135 non-null   object
 1   Age                             2126 non-null   object
 2   Height                          2125 non-null   object
 3   Weight                          2137 non-null   object
 4   family_history_with_overweight  2133 non-null   object
 5   FAVC                            2137 non-null   object
 6   FCVC                            2136 non-null   object
 7   NCP                             2129 non-null   object
 8   CAEC                            2131 non-null   object
 9   SMOKE                           2134 non-null   object
 10  CH2O                            2124 non-null   object
 11  SCC                             2138 non-null   object
 12  FAF                             2124 non-null   object
 13  TUE                             2120 non-null   object
 14  CALC                            2130 non-null   object
 15  MTRANS                          2130 non-null   object
 16  NObeyesdad                      2133 non-null   object
 17  mixed_type_col                  1912 non-null   object
dtypes: object(18)
memory usage: 302.9+ KB

### 3. Muestra Aleatoria de Datos

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad,mixed_type_col
20,Male,22.0,1.65,80.0,yes,no,2.0,3.0,sOMETIMES,no,2.0,no,3.0,2.0,no,wALKING,Overweight_Level_II,610
1868,Female,26.0,1.638836,110.970479,YES,yes,3.0,3.0,Sometimes,no,2.644135,no,0.0,0.357581,Sometimes,Public_Transportation,Obesity_Type_III,411
1579,Male,22.908879,1.876898,121.277832,yes,yes,2.630137,NaN,Sometimes,no,1.970508,no,1.304291,0.0,Sometimes,Public_Transportation,Obesity_Type_II,237
1552,Male,34.576714,1.73325,103.669116,yes,yes,2.501224,2.049565,Sometimes,no,1.0,no,1.746583,0.0,no,Automobile,Obesity_Type_II,657
1252,Male,23.0,1.791415,105.138073,yes,yes,2.262171,3.0,Sometimes,no,2.03415,no,0.317363,0.508663,Sometimes,Public_Transportation,Obesity_Type_I,NaN

### 4. Calidad de los Datos

Número total de filas duplicadas: 1
Conteo de valores nulos por columna:
Gender                             18
Age                                27
Height                             28
Weight                             16
family_history_with_overweight     20
FAVC                               16
FCVC                               17
NCP                                24
CAEC                               22
SMOKE                              19
CH2O                               29
SCC                                15
FAF                                29
TUE                                33
CALC                               23
MTRANS                             23
NObeyesdad                         20
mixed_type_col                    241
dtype: int64

### 5. Estadísticas Descriptivas

#### **Variables Numéricas**

               count unique      top  freq
Age             2126   1410     18.0   120
Height          2125   1572      1.7    55
Weight          2137   1551     80.0    56
FCVC            2136    818      3.0   616
NCP             2129    646      3.0  1146
CH2O            2124   1269      2.0   425
FAF             2124   1196      0.0   386
TUE             2120   1129      0.0   521
mixed_type_col  1912    775  unknown   231

#### **Variables Categóricas**

                               count unique                    top  freq
Gender                          2135      4                   Male  1040
family_history_with_overweight  2133      5                    yes  1662
FAVC                            2137      4                    yes  1813
CAEC                            2131      8              Sometimes  1677
SMOKE                           2134      5                     no  1993
SCC                             2138      4                     no  1924
CALC                            2130      8              Sometimes  1343
MTRANS                          2130      9  Public_Transportation  1512

### 6. Distribución de la Variable Objetivo: 'NObeyesdad'

                       Frecuencia  Porcentaje (%)
NObeyesdad
Obesity_Type_I                337           15.80
Obesity_Type_III              314           14.72
Obesity_Type_II               287           13.46
Overweight_Level_I            285           13.36
Overweight_Level_II           280           13.13
Normal_Weight                 271           12.71
Insufficient_Weight           261           12.24
 nORMAL_wEIGHT                 17            0.80
 oBESITY_tYPE_i                16            0.75
 oBESITY_tYPE_ii               16            0.75
 oVERWEIGHT_lEVEL_i            12            0.56
 oBESITY_tYPE_iii              12            0.56
 oVERWEIGHT_lEVEL_ii           12            0.56
 iNSUFFICIENT_wEIGHT           11            0.52
 NAN                            2            0.09